{% extends "base.html" %}
{% block content %}
<style>
  .cyber-btn-lg{
    border: 2px solid  #fcee09;
  }
</style>
<div class="container mt-5">
  <h2 class="neon-text">Your Cart</h2>

  {% if cart.items.all %}
    <table class="table cyber-table mt-4">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items.all %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.product.price }}</td>
            <td>₹{{ item.subtotal }}</td>
            <td>
              <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-sm cyber-btn-danger">Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h4 class="text-end neon-text">Total: ₹{{ cart.total_price }}</h4>

    <div class="text-end mt-3">
      <a href="{% url 'checkout' %}" class="btn cyber-btn-lg text-white">Proceed to Checkout</a>
    </div>
  {% else %}
    <p class="text-muted">Your cart is empty.</p>
  {% endif %}
</div>
{% endblock %}