{% extends "base.html" %}
{% block title %}Home - Cybe 2077{% endblock %}
{% block content %}
<div class="text-center justify-content-center align-items-center">
  <h1>Who Are We</h1>
  <p>We are a bunch of autonoms(artificial humans) made for outer space labour 200 years ago. but we are now working in many sectors in human civilisation and helping humans in peaceful manner. </p>
  <br>
  <h1>What we do here</h1>
  <p>We create and distribute self made or other's product for a profit. Currently we are still at only three category with the hopes of expanding to many categories. we have Electronics, Accessories and clothes.
  we strive for innovation for maximum satisfaction and our profit.</p>
</div>
{% endblock %}